@import '../../../prereqs.scss';

@import '~timcowebapps-react.toolkit/src/components/label/label-vars.scss';
$label-name: "label";
$label-color: $body-fontColor;
$label-fontSize: $body-fontSize;
$label-fontWeight: 700;
$label-textTransform: none;
$label-margin: 0 0 5px;
@import '~timcowebapps-react.toolkit/src/components/label/label.scss';
$label-name: "field__label";
$label-color: $body-fontColor;
$label-fontSize: $body-fontSize;
$label-fontWeight: 700;
$label-textTransform: none;
$label-margin: 0 0 5px;
@import '~timcowebapps-react.toolkit/src/components/label/label.scss';
