@import '../../../prereqs.scss';

@import '~timcowebapps-react.toolkit/src/components/field/field-vars.scss';
/* #region Переменные поля */
$field-name: "field";
$field-input-fontFamily: inherit;
$field-input-fontColor: #000;
$field-input-fontSize: pxToRem(14px, $body-fontSize);
$field-input-background: #fff;
$field-input-background--focused: scale-color(#fff, $lightness: -2%);
$field-input-borderWidth: 1px;
$field-input-borderStyle: solid;
$field-input-borderRadius: $corner-radius;
$field-input-borderColor: map-get($background-colors, "bg-2");
$field-input-borderColor--focused: scale-color(#fff, $lightness: -40%);
$field-input-borderColor--error: get-color($brand-colors, "danger");
$field-input-boxShadow: none;
$field-input-placeholder-fontColor: inherit;
$field-input-spinbutton: true;
/* #endregion */
@import '~timcowebapps-react.toolkit/src/components/field/field.scss';
@import '~timcowebapps-react.toolkit/src/components/field/placeholder.scss';
