@import '../../../prereqs.scss';

@import '~timcowebapps-react.toolkit/src/components/heading/heading-vars.scss';
$heading-name: "heading";
$heading-font-sizes: (
	'h1': ('size': 24px/*40px*/, 'reduction': 10px),
	'h2': ('size': 22px/*32px*/, 'reduction': 10px),
	'h3': ('size': 18px/*28px*/, 'reduction': 5px),
	'h4': ('size': 16px/*24px*/, 'reduction': 5px),
	'h5': ('size': 14px/*20px*/, 'reduction': 0px),
	'h6': ('size': 12px/*18px*/, 'reduction': 0px)
);
$heading-color: inherit;
$heading-lineHeight: 110%;
$heading-fontWeight: 300;
$heading-textTransform: inherit;
@import '~timcowebapps-react.toolkit/src/components/heading/heading.scss';

h2.heading {
	@include modifiers((), "underline") {
		margin: 1em 0 .8em;
		padding-bottom: .4em;
		border-bottom: 1px solid #ddd;
	}
}
