@import '../../../prereqs.scss';

@import '~timcowebapps-react.toolkit/src/components/hyperlink/hyperlink-vars.scss';
$hyperlink-name: "link";
$hyperlink-color: get-color($brand-colors, "primary");
$hyperlink-color--hover: get-color($brand-colors, "primary", null, -$color-interval);
$hyperlink-fontWeight: 700;
$hyperlink-background: transparent;
$hyperlink-background--hover: get-color($brand-colors, "primary", null, +9);
$hyperlink-borderWidth: 0 0 1px;
$hyperlink-borderStyle: dotted;
$hyperlink-borderColor: get-color($brand-colors, "primary");
$hyperlink-borderColor--hover: get-color($brand-colors, "primary", null, -$color-interval);
@import '~timcowebapps-react.toolkit/src/components/hyperlink/hyperlink.scss';
$hyperlink-name: "breadcrumb__link";
$hyperlink-color: get-color($brand-colors, "primary");
$hyperlink-color--hover: get-color($brand-colors, "primary", null, -$color-interval);
$hyperlink-fontWeight: 700;
$hyperlink-background: transparent;
$hyperlink-background--hover: get-color($brand-colors, "primary", null, +9);
$hyperlink-borderWidth: 0 0 1px;
$hyperlink-borderStyle: dotted;
$hyperlink-borderColor: get-color($brand-colors, "primary");
$hyperlink-borderColor--hover: get-color($brand-colors, "primary", null, -$color-interval);
@import '~timcowebapps-react.toolkit/src/components/hyperlink/hyperlink.scss';
