$main-colors: (
	'primary': (
		'base': #268297,
		'dark': #34495e,
		'lght': #eff3fd
	),
	'secondary': (
		// Empty
	),
	'accent': (
		// Empty
	),
	'background': #f9fafa,
	'foreground': #fff
);

:export {
	primaryLghtClr: #ecf9f5;
	primaryBaseClr: #5cb85c;
	primaryDarkClr: #3c7c3d;
}

/* #region 1.Импортируем утилиты */
@import '~timcowebapps-react.utils/src/classname/bem.scss';
@import '~timcowebapps-react.utils/src/unit/convert.scss';
@import '~timcowebapps-react.utils/src/typography/responsive-font-size.scss';
@import '~timcowebapps-react.utils/src/typography/text-align.scss';
@import '~timcowebapps-react.utils/src/color/color-helpers.scss';
/* #endregion */
/* #region 2.Импортируем перезагрузку и переопределяем глобальные переменные */
@import '~timcowebapps-react.toolkit/src/global-vars.scss';
$default-colors: (
	brand-primary: #268297,
	brand-info: #35bda8,
	brand-success: #86b34d,
	brand-warning: #e66c40,
	brand-danger: #cb3e4b
);
$body-fontFamily: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
$body-fontColor: #586e75;
$body-fontSize: 15px;
$body-lineHeight: 1.5;
$body-background: #fff;
$enable-rounded-corners: true;
$enable-shadows: true;
@import '~timcowebapps-react.toolkit/src/global-screen.scss';
@import '~timcowebapps-react.toolkit/src/global-reboot.scss';
/* #endregion */
/* #region 3.Импортируем миксины */
@import '~timcowebapps-react.toolkit/src/mixins/box-sizing.scss';
@import '~timcowebapps-react.toolkit/src/mixins/flex.scss';
@import '~timcowebapps-react.toolkit/src/mixins/list.scss';
@import '~timcowebapps-react.toolkit/src/mixins/linear-gradient.scss';
@import '~timcowebapps-react.toolkit/src/mixins/border-radius.scss';
@import '~timcowebapps-react.toolkit/src/mixins/box-shadow.scss';
@import '~timcowebapps-react.toolkit/src/mixins/transform.scss';
@import '~timcowebapps-react.toolkit/src/mixins/transition.scss';
/* #endregion */
/* #region 4.Импортируем экстракты */
@import '~timcowebapps-react.toolkit/src/extracts/spacing.scss';
@import '~timcowebapps-react.toolkit/src/extracts/block.scss';
@import '~timcowebapps-react.toolkit/src/extracts/list.scss';
@import '~timcowebapps-react.toolkit/src/extracts/hidden.scss';
/* #endregion */
/* #region 5.Импортируем сетку */
@import '~timcowebapps-react.toolkit/src/grid/grid-vars.scss';
$grid-columns: 12;
$grid-gutter-width: 30px;
@import '~timcowebapps-react.toolkit/src/grid/grid-flex.scss';
@import '~timcowebapps-react.toolkit/src/grid/grid.scss';
/* #endregion */

@import './views/components/table/variants.scss';

code {
	font-family: 'Roboto Mono', Monaco, courier, monospace;
    font-size: .8em;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
	color: get-color($main-colors, 'primary', 'base');
	padding: 2px 5px;
	margin: 0 2px;
	border-radius: 2px;
	border: 1px solid #edeeee;
	white-space: nowrap;
}

.component-preview {
	position: relative;
	background: #fff;
	padding: 15px;
	margin-bottom: 30px;
	border: 2px solid #f9fafb;
}
