$main-colors: (
	'primary': (
		'base': #268297,
		'dark': #34495e,
		'lght': #eff3fd
	),
	'secondary': (
		// Empty
	),
	'accent': (
		// Empty
	),
	'background': #f9fafa,
	'foreground': #fff
);

:export {
	primaryLghtClr: #ecf9f5;
	primaryBaseClr: #5cb85c;
	primaryDarkClr: #3c7c3d;
}

/* #region 1.Импортируем утилиты */
@import '~timcowebapps-react.utils/src/classname/bem.scss';
@import '~timcowebapps-react.utils/src/unit/convert.scss';
@import '~timcowebapps-react.utils/src/typography/responsive-font-size.scss';
@import '~timcowebapps-react.utils/src/typography/text-align.scss';
@import '~timcowebapps-react.utils/src/color/color-helpers.scss';
/* #endregion */
/* #region 2.Импортируем перезагрузку и переопределяем глобальные переменные */
@import '~timcowebapps-react.toolkit/src/global-vars.scss';
$gray:   #7c7c7c;
$blue:   #457b88;
$aqua:   #689d89;
$green:  #5cb85c;
$yellow: #d7992b;
$orange: #d65e2d;
$red:    #cd2f2c;
$purple: #b16185;

$colors: (
	"gray":   $gray,
	"purple": $purple,
	"red":    $red,
	"orange": $orange,
	"yellow": $yellow,
	"green":  $green,
	"aqua":   $aqua,
	"blue":   $blue
);

$bg-0: #fafafa;
$bg-1: #ebebeb;
$bg-2: #d5d5d5;
$bg-3: #bfbfbf;
$bg-4: #a8a8a8;

$background-colors: (
	"bg-0": $bg-0,
	"bg-1": $bg-1,
	"bg-2": $bg-2,
	"bg-3": $bg-3,
	"bg-4": $bg-4
);

$fg-0: #282828;
$fg-1: #3c3c3c;
$fg-2: #505050;
$fg-3: #666666;
$fg-4: #7c7c7c;

$foreground-colors: (
	"fg-0": $fg-0,
	"fg-1": $fg-1,
	"fg-2": $fg-2,
	"fg-3": $fg-3,
	"fg-4": $fg-4
);

$primary:   $blue;
$secondary: $gray;
$info:      $aqua;
$success:   $green;
$warning:   $yellow;
$danger:    $red;

/**
 * Цвета по умолчанию.
 * @type Map
 */
$brand-colors: (
	"primary":   $primary,
	"secondary": $secondary,
	"success":   $success,
	"info":      $info,
	"warning":   $warning,
	"danger":    $danger
);

$color-interval: 3%;
$body-fontFamily: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
$body-fontColor: #586e75;
$body-fontSize: 14px;
$body-lineHeight: 1.42857143;
$body-background: #fff;
$enable-rounded-corners: true;
$enable-shadows: true;
@import '~timcowebapps-react.toolkit/src/global-screen.scss';
@import '~timcowebapps-react.toolkit/src/global-reboot.scss';
/* #endregion */
/* #region 3.Импортируем миксины */
@import '~timcowebapps-react.toolkit/src/mixins/box-sizing.scss';
@import '~timcowebapps-react.toolkit/src/mixins/flex.scss';
@import '~timcowebapps-react.toolkit/src/mixins/list.scss';
@import '~timcowebapps-react.toolkit/src/mixins/linear-gradient.scss';
@import '~timcowebapps-react.toolkit/src/mixins/border-radius.scss';
@import '~timcowebapps-react.toolkit/src/mixins/box-shadow.scss';
@import '~timcowebapps-react.toolkit/src/mixins/transform.scss';
@import '~timcowebapps-react.toolkit/src/mixins/transition.scss';
/* #endregion */
/* #region 4.Импортируем экстракты */
@import '~timcowebapps-react.toolkit/src/extracts/spacing.scss';
@import '~timcowebapps-react.toolkit/src/extracts/block.scss';
@import '~timcowebapps-react.toolkit/src/extracts/list.scss';
@import '~timcowebapps-react.toolkit/src/extracts/hidden.scss';
/* #endregion */
/* #region 5.Импортируем сетку */
@import '~timcowebapps-react.toolkit/src/grid/grid-vars.scss';
$grid-columns: 12;
$grid-gutter-width: 30px;
@import '~timcowebapps-react.toolkit/src/grid/grid-flex.scss';
@import '~timcowebapps-react.toolkit/src/grid/grid.scss';
/* #endregion */

@import './views/components/table/variants.scss';

code {
	font-family: 'Roboto Mono', Monaco, courier, monospace;
    font-size: .8em;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
	color: get-color($main-colors, 'primary', 'base');
	padding: 2px 5px;
	margin: 0 2px;
	border-radius: 2px;
	border: 1px solid #edeeee;
	white-space: nowrap;
}

.component-preview {
	position: relative;
	background: #fff;
	padding: 15px;
	margin-bottom: 30px;
	border: 2px solid #f9fafb;
}
